body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1 ;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #2980b9;
    position: fixed;
    top: 0;
}


.navbar-container a{
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: #ecf0f1 ;
}

.navbar-container a:hover {
    background-color: #ecf0f1  ;
    color: #2ecc71 ;
}


/*-----------------------Body CSS-----------------------*/
.body-container {
    padding-top: 50px;
    margin: 20px 50px;
    
}

.top-info {
    text-align: center;
}

.note-text {
    opacity: 30%;
}


.form-container {
    padding: 20px;
    margin:20px 70px;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 900px;
}


input[type="text"], textarea{
    max-width: 900px;
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0px;
}

#feedback{
    width: 100%;
    height: 200px;
}

.form-button {
    padding: 10px;
    justify-content: center;
    background-color: #2980b9 ;
    border: none;
    color: #ecf0f1 ;
    cursor: pointer;
}

.form-button:hover {
    background-color: #ecf0f1;
    color: #2ecc71;
}

/*-----------------------Footer CSS-----------------------*/

.footer-container {
    width: 100%;
    justify-content: center;
    flex-flow: wrap;
    position: relative;
    bottom: 0;
}

.footer-container a{
    text-decoration: none;
    color: #2980b9;
}

.footer-content{
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    color: #2980b9;
}

.footer-container a:hover {
    color: #2ecc71 ;
}


@media screen and (max-width: 900px) {
    .navbar-container {
        size: 1%;
        flex-direction: column; 
        text-align: center;
        position: relative;
    }

    .navbar-container a{
        padding: 5px;
    }

    .footer-container{
        flex-direction: column; 
        text-align: center;
    }

    .body-container {
        padding-top: 0px;
        margin: 20px 30px;
    }

    .form-container {
        margin: 0px;
        padding: auto;
        display: flex;
        justify-content: center;
    }

  }
